*{
  padding:0;
  margin:0;  
}

header{
    background-color: white;
}
nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin:auto;
    padding: 12px 0;
    max-width: 1200px;
    font-family: "Inter", sans-serif;
}

nav ul{
    display:flex;
    justify-content: space-between;
    list-style: none;
    gap: 24px;
    color:#575757;
    font-size: smaller;
    padding:12px;
}

nav ul li {
    text-decoration: none;
    cursor: pointer;
}

button{
    color: white ;
    font-weight: bold;
    background-color: #1D4ED8;
    text-align:center;
    padding: 0px 20px;
    margin:5px;
    border-radius: 5px;
    cursor:pointer;
    border:none;

}

.banner{
    width:100%;
    height: 786px;
    background-image: url("./banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Inter", sans-serif;
}
.text{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;

}
.text h1{
    color:white;
    font-size: 70px;
    margin-bottom: 20px;

}
.text p{
    width: 700px;
    color:white;
    font-size: 20px;
    margin-bottom: 280px;
    
}
.btn{
    padding:15px 35px;
    background-color: #2d5cff;
    color: white;
    border:none;
    border-radius:5px;
    font-size: 18px;
    cursor:pointer;
}

.speakers{
    width: 1200px;
    margin:auto;
    margin-top: 80px;
}

.speakers h2{
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    font-family: "Inter", sans-serif;

}

.speaker-container{
    display:grid;
    grid-template-columns: 570px 570px;
    column-gap: 60px;
    row-gap: 30px;

}

.card{
    width:570px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom:30px;
}

.card img{
    width:570px;
    height: 260px;
    border-radius: 5px;
}

.card h3{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    
}
.card p{
    margin-top:10px;
    margin-left: 15px;
    margin-bottom: 20px;
    color:gray;
    font-family: "Arimo", sans-serif;
}
.card h6{

    color:#2d5cff;
    padding-left: 16px;
    padding-top:13px;
    font-family: "Arimo", sans-serif;

}

.pricing{
    width:1200px;
    margin:auto;
    margin-top: 100px;
    text-align: center;
}

.pricing h2{
      
    font-size: 50px;
    margin-bottom: 15px;
    font-family: "Inter", sans-serif;

}
.subtitle{
    color:gray;
    margin-bottom :50px;
    font-family: "Arimo", sans-serif;

}

.price-container{
    display:flex;
    gap:30px;
}
.price-card{
    width:360px;
    border:1px solid lightgray;
    border-radius: 8px;
    padding:25px;
    text-align:left;
}

.pro{
    background-color: #0f1c2e;
    color:white;
}
.price-card h5{
    color:gray;
    margin-bottom: 10px;
}
.pro h5{
    color:#4d8cff;
}

.price-card h1{
    font-size:55px;
    margin-bottom: 10px;
}
.person{
    color:gray;
    margin-bottom: 20px;

}
.pro .person{
    color:white;
}

.price-card hr{
    margin-bottom: 20px;
    border: 1px solid gray;
}
.price-card ul{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.price-card ul li{
    color:rgb(71, 71, 71);
    margin-bottom: 12px;
    font-family: "Arimo", sans-serif;
}

.btn1{
 width:100%;
 padding: 12px;   
background-color:white;
color:#2f5cff;
border:1px solid #2f5cff;
border-radius: 5px;


}
.btn2{
    width:100%;
    padding:12px;
    background-color: #2f5cff;
    color:white;
    border:none;
    border-radius: 5px;
}
.pro ul li{
    color:white;
}

    /*css code of placeholder challenge section */
 

.placeholder{
    width: 1200px;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.placeholder h2{
    text-align: center;
    font-size:50px;
    margin-bottom: 15px;
    font-family: "Inter", sans-serif;
}

.subtitle2{
    text-align: center;
    color: gray;
    margin-bottom: 50px;
    font-size: 18px;
    font-family: "Arimo", sans-serif;
}
.pcontainer{
    display:flex;
    gap: 40px;

}
.highlights{
    width:560px;
    border:1px solid lightgray;
    border-radius: 8px;
    padding:30px;
    background-color:#edeef0;
    text-align: center;
}
.highlights h3{
    font-size: 28px;
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;

}
.highlights hr{
    margin-bottom: 25px;
}

.highlights p{
    margin-bottom: 20px;
    color: gray;
    font-family: "Arimo", sans-serif;
}
.highlight-text{
    margin-top: 45px;
    font-family: "Arimo", sans-serif;

}

.gallery-btn{
    margin-top: 25px;
    padding:12px 25px;
    background-color: #133492;
    color:white;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    
}

.jobs{
    width:560px;
    border:1px solid lightgray;
    border-radius: 8px;
    padding:30px;
    background-color:#122660;

}
.jobs h3{
    font-size: 28px;
    margin-bottom: 20px;
    color: white;
    font-family: "Inter", sans-serif;

}

.jobs hr{
    margin-bottom: 25px;
}
.job-card{
    border:1px solid lightgray;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
.job-card h4{
    font-size: 22px;
    margin-bottom: 10px;
    color:white;
    font-family: "Inter", sans-serif;
}
.job-card p{
    color:rgb(175, 170, 170);
    margin-bottom: 10px;
    font-family: "Arimo", sans-serif;
}
.apply-btn{
    padding:10px 20px;
    background-color: #1D4ED8;
    color:white;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}
.highlights ul li{
    font-size:24px;
    margin-bottom:15px;
    font-family: "Arimo", sans-serif;
    
}
.highlights ul{
    width: 300px;
    margin:auto;
    color:#0e3061;
}

/*placeholder challenge section ends here*/

footer{
    background-color: #0f1c2e;
    padding: 40px 0;
}

.footer-top{
    width: 1200px;
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.social-links a{
    
    color: #9db4f4;
    margin-left: 20px;

}
footer hr{
    width:1200px;
    margin:30px auto;
    border:1px solid gray;
}

.copyright{
    text-align: center;
    color:lightgray;
    font-size: 16px;
    font-family: "Arimo", sans-serif;
}